.header {
  display: flex;
  font-size: 22px;
  font-weight: 700;
  justify-content: space-between;
  margin: auto;
  max-width: 60rem;
  padding: 2rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  color: var(--color-primary-400);
  text-decoration: none;
}

.list a:hover {
  border: 1px solid white;
  color: var(--color-primary-200);
  font-weight: 800;
  transition: .5s;
}

.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}