.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  background-color: var(--color-gray-500);
  border-radius: 4px;
  color: var(--color-gray-900);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.list a:hover,
.list a:active,
.list a.active {
  background-color: var(--color-primary-600);
}