.container {
    margin: 2rem auto;
    max-width: 50rem;
    text-align: center;
}

.container img {
    border-radius: 4px;
    width: 30rem;
}

.actions {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.actions a,
.actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.25rem 1rem;
    text-decoration: none;
}

.actions button {
    background-color: transparent;
    border: none;
    color: var(--color-primary-800);
}